<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Resetar senha</title>
</head>
<body>
    <h1>Resetar senha</h1>

    <form th:action="@{/reset-password}" method="post">
        <input type="hidden" name="token" th:value="${token}" />
        <input type="password" name="senha" placeholder="Nova senha" required />
        <button type="submit">Alterar senha</button>
    </form>

    <div th:if="${error}">
        <p th:text="${error}" style="color:red;"></p>
    </div>
</body>
</html>
